{% extends 'base.html' %}
{% load markdownify %}
{% block content %}
    <main>
        <div>
            <h1>{{ project_instance_details.name }}</h1>
            <li>
                <a href="{% url 'create_task' %}">Add a task</a>
            </li>
            {{ project_instance_details.description|markdownify }}
            <h2>Tasks</h2>
            {% if project_instance_details.tasks.all|length >= 1 %}
                <table>
                    <theader>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    </theader>
                    <tbody>
                        {% for task in project_instance_details.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_complete }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
