{% extends 'base.html' %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <ul>
                <li>
                    <a href="{% url 'create_project' %}">Create new project</a>
                </li>
                <li>
                    <a href="{% url 'show_my_tasks' %}">My Tasks</a>
                </li>
            </ul>
            {% if list_of_projects|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in list_of_projects %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' pk=project.pk %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
